<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="fury" value="https://nuget.fury.io/%FURYNIX_API_TOKEN%/%FURYNIX_USER%/" />
  </packageSources>
  <activePackageSource>
    <add key="fury" value="https://nuget.fury.io/%FURYNIX_API_TOKEN%/%FURYNIX_USER%/" />
  </activePackageSource>
</configuration>
